#home, #about, #portfolio, #contact {
  padding-top: 70px;
  min-height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#home {
  background-image: url('../img/home.jpg');
}
#about {
  background-image: url('../img/about.jpg');
}
#portfolio {
  background-image: url('../img/portfolio.jpg');
}
#contact {
  background-image: url('../img/contact.jpg');
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.port-img {
  max-height: 300px;
}

#folio h3 {
  text-align: center;
}
#folio .item {
  min-height: 500;
}
.item img {
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  background-color: black;
}

.carousel-control {
  max-width: 50px;
  width: 50px;
}

.slider-size {
  height: 450px;
}

/*.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}*/