body {
    background: black;
    max-width: 800;
}

* {
    font-family: 'Verdana';
    color:white;
    text-shadow: 2px 2px 4px #000000;
}


/* BORDERS */

#menu, #skills, #projects, #locate {
    border: 5px solid white;
    padding: 5px;
    border-radius: 8px;
    background-image: 
        linear-gradient(blue, transparent),
        linear-gradient(blue, transparent);
    box-shadow: 2px 2px 4px #000000;
}

#menu {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

#name {
    color: white;
}

#skills {
    color: white;
    margin: 5px;
    width: 60%;
    float: left;
}
#projects {
    float: right;
    margin: 5px;
}

#locate {
    display: block;
    clear: both;
    float: right;
    margin: 10px 0px 5px 5px;
      background-image: 
        linear-gradient(blue, transparent),
        linear-gradient(blue, transparent);
}
