body {
    background: black;
    max-width: 800px;
}

* {
    font-family: 'Verdana';
}

#menu {
    margin: 5px;
    border: 5px solid white;
    padding: 5px;
    border-radius: 8px;
    background-image: 
        linear-gradient(blue, transparent),
        linear-gradient(blue, transparent);
}

#name {
    color: white;
}

#skills {
    font-family: inherit;
    color: white;
    margin: 5px;
    border: inherit;
    padding: inherit;
    border-radius: 8px;
    width: 60%;
    
}
#projects {
    float: right;
    border: inherit;
    padding: inherit;
    border-radius: 8px;
}

#locate {
    clear: both;
    float: right;
    margin: -1px 5px 5px 5px;
    border: inherit;
    padding: inherit;
    border-radius: 8px;
    color:white;
      background-image: 
        linear-gradient(blue, transparent),
        linear-gradient(blue, transparent);
}
